.nested-fields
  .row
    .col-sm-5
      = f.input :kind, collection: CommunityInvolvement.kinds.symbolize_keys.keys.map{|a| [a.capitalize, a]}.to_h
    .col-sm-5
      = f.association :community, collection: Community.all, prompt: 'Choose an existing community'
    .col-sm-2
      = link_to_remove_association f, class: 'btn btn-warning' do
        = fa_icon "remove"
        remove

