%h1 Listing Hackers

%table.table
  %thead
    %tr
      %th Name
      %th Where
      %th Experiences
  %tbody
    = render partial: 'tr_hacker', collection: @hackers || content_tag(:tr, content_tag(:td, 'No Hackers'))
