%h1
  Hacker
  = @hacker.name

%h2 Community Involvements

%table.table
  %thead
    %tr
      %td Community
      %td Role
  %tbody
    = render(partial: 'tr_community_involvement', collection: @hacker.community_involvements) || content_tag(:tr, content_tag(:td, 'No involvement registered'))

%h2 Experiences

%table.table
  %thead
    %tr
      %td Technology
      %td Level
      %td Assessment
  %tbody
    = render(partial: 'tr_experience', collection: @hacker.experiences) || content_tag(:tr, content_tag(:td, 'No experiences registered'))

- if @hacker == current_user.hacker
  = edit_button @hacker
