%h1 About itinic

%pre
  Information Technology in Intentional Communities

%b
  There are currently
  %span(style="font-size: 2em;")
    = User.count
  registered Users.

%h2 Aim
%p
  Create a network of like-minded IT professionals and ease collaboration.  IT-Staff in intentional communities seems to be a rare find.  It looks like there is lot to do, and maybe you could need and/or offer some help.  Also, there is a huge variety of possible tools, and proper evaluation is time consuming.  Why not learn from the experiences fellow world-changers have made?  Finally, we might eventually start a development project together.

%h2 Privacy and Security
%p
  Although I am a privacy and security enthusiast, itinic is pretty open.  Anybody with a valid e-mail account can register and see other registered users (no e-mail adresses are exposed though, and if the user gives an alias, it is shown instead of the given name).  Also, the app is not thorougly covered with tests and there might be unexpected ways to change data.

%h2 How it works
%h3 Users ('Hackers')
%p
  Users have to register giving their email-address.  Upon a confirmation e-mail (and a click) a user can sign in and access the database.
  Users relate to two other entities:
%h3 Communities
%p
  User can state their involvement with communities.  This helps to localize the user.
%h3 Technologies
%p
  User can state experience with a technology (i.e. expert in Java Programming) and their assessment ('rating': Java rocks) - note that this is really just an example.
  You can also add experience and assessment of technologies for a
  %i
    Community.
  Like this you can show that e.g. your community uses Wordpress for its website a lot and is happy with it.

%h2 Implementation
%p
  This application was created by Felix Wolfeller using Ruby on Rails.  It's far from perfect and had to be created in no time.
  The interface is clumpsy, especially there is no direct way to add a technology or community while adding experience with it.
  Felix is happy if you help him out!
  The project can be found on
  = link_to "github.com/econya/itinic", "https://github.com/econya/itinic"
  \.
  It is released under the GPL3, or any later version.

%h2 Feedback
%p
  Feedback is very welcome.  Drop me a line or open a
  = link_to "github issue", "https://github.com/econya/itinic/issues"
  if its of technical nature.

:markdown
  #{render 'changelog.md'}


