/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.row.content {height: 550px}

/* Set gray background color and 100% height */
.sidenav {
  background-color: #f1f1f1;
  height: 100%;
}

/* Custom fieldset with bootstrap, simple_form */
fieldset {
  border: 1px solid #bbb;
  border-radius: 4px;
  padding: 7px;
  background: #eee;
  margin-bottom: 10px;
}

h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

fieldset label.legend {
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
  .row.content {height: auto;} 
}
