%h1 Listing Technologies

= add_button "Technology"

%table.table
  %thead
    %tr
      %th Name
      %th Kind
      %th People (level/assessment)
  %tbody
    = render(partial: 'tr_technology', collection: @technologies) || content_tag(:tr, content_tag(:td, 'No technologies'), colspan: 3)

= add_button "Technology"
