%h1
  Technology
  =@technology.name

%h2 Experiences by People
%table.table
  %thead
    %tr
      %td Who
      %td Level
      %td Assessment
  %tbody
    = render(partial: 'tr_experience', collection: @technology.experiences) || content_tag(:tr, content_tag(:td, 'No experiences registered', colspan: 3))

%h2 Used by community
%table.table
  %thead
    %tr
      %td Who
      %td for what
      %td Assessment
  %tbody
    = render(partial: 'tr_tool_use', collection: @technology.tool_uses) || content_tag(:tr, content_tag(:td, 'No ussages registered', colspan: 3))
