= simple_form_for @community, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

  %br

  .form-actions
    = f.button :submit
