%h1 Community Listing

%table.table
  %thead
    %tr
      %th Name
  %tbody
    = render partial: 'tr_community', collection: @communities || content_tag(:tr, content_tag(:td, 'No communities'))

= add_button "Community"
