%h1
  Community
  = @community.name

%h2 Associated hackers
%table.table
  %thead
    %tr
      %td Hacker
      %td Role
      %td Experiences
  %tbody
    = render partial: 'tr_community_involvement', collection: @community.community_involvements || content_tag(:tr, content_tag(:td, 'No hackers registered'))


= edit_button @community
