%h1
  Community
  = @community.name

%h2 Associated hackers
%table.table
  %thead
    %tr
      %td Hacker
      %td Role
      %td Experiences
  %tbody
    = render(partial: 'tr_community_involvement', collection: @community.community_involvements) || content_tag(:tr, content_tag(:td, 'No hackers registered', colspan: 3))

%h2 Associated technologies
%table.table
  %thead
    %tr
      %td Technology
      %td used for
      %td assessment
  %tbody
    = render(partial: 'tr_tool_use', collection: @community.tool_uses) || content_tag(:tr, content_tag(:td, 'No tool usages registered', colspan: 3))

= edit_button @community
